.App {
  text-align: center;
  background-color: #212121;
  min-height: 100vh;
  padding-bottom: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TMDB-logo {
  width: 6vw;
  height: 10vh;
  margin-left: 1vw;
}

.TMDb {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin-top: 10vh;
  margin-right: 2vw;
  justify-content: end;
  align-items: center;
}

.link {
  text-decoration: none;
}

.App-header {
  background-color: #181818;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-pages {
  color: #ff0000;
  display: flex;
}

.App-pages > * {
  margin-right: 2vw;
  color: #ff0000;
}

.App-image {
  color: #ff0000;
  display: flex;
  align-items: center;
  gap: .5vw;
}

.App-generator {
  color: #fff;
  background-color: #181818;
  border-radius: 1vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 8vh;
  margin-bottom: 8vh;
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  justify-content: center;
}

.App-genres {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  border-radius: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #181818;
  color: #fff;
  padding-bottom: 5vh;
}

.App-genres > * {
  margin-top: 3vh;
}

.quotes {
  font-size: calc(5px + 2vmin);
}

.App-options {
  display: grid;
  margin: 0;
  grid-template-areas: 'div div' ;
  background-color: #373737;
  min-height: 6vh;  
  align-items: center;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
}

.Genres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Genres > * {
  margin: 20px;
  border-radius: 1vh;
  padding: 10px;
  color: #fff;
  background-color: #373737;
}

.movie {
  display: grid;
  grid-template-areas: 'image image movieContent movieContent movieContent';
  padding: 6vh;
  padding-left: 5vw;
  padding-right: 5vw;
  color:#fff;
  text-align: left;
  border-bottom: 1px solid black;
}

.movieContent {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.movieContent > * {
  margin-bottom: 1vh;
}

.image {
  height: 50vh;
  margin-right: 5vw;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
