/* Styling for used in the App.js file */
.App {
  text-align: center;
  background-color: #212121;
  min-height: 100vh;
  padding-bottom: 10vh;
}

.TMDb {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin-top: 10vh;
  margin-right: 2vw;
  justify-content: flex-end;
  align-items: center;
}

.TMDB-logo {
  width: calc(10px + 12vmin);
  height: calc(10px + 5vmin);
  margin-left: 1vw;
}

.App-header {
  background-color: #181818;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-pages {
  color: #ff0000;
  display: flex;
}

.App-pages > * {
  margin-right: 2vw;
  color: #ff0000;
}

.App-image {
  color: #ff0000;
  display: flex;
  align-items: center;
  gap: .5vw;
}

/* Styling to remove the default look of the input in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Styling to remove the default look of the input in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Styling for the loading component */
@media (prefers-reduced-motion: no-preference) {
  .loading-img {
    animation: App-logo-spin infinite 5s linear;
    width: 5vw;
    height: 5vh;
  }
}

.loading {
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  color: #fff;
}

/* Style for the components used in Home page*/

.App-generator {
  color: #fff;
  background-color: #181818;
  border-radius: 1vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 8vh;
  margin-bottom: 8vh;
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.quotes {
  font-size: calc(5px + 2vmin);
}

.error {
  color: #ff0000;
  margin-top: 1vh;
  font-size: calc(6px + 1vmin);
}

.App-genres {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  border-radius: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #181818;
  color: #fff;
  padding-bottom: 5vh;
}

.App-genres > * {
  margin-top: 3vh;
}

.App-options {
  display: grid;
  margin: 0;
  grid-template-areas: 'div div' ;
  background-color: #373737;
  min-height: 6vh;  
  align-items: center;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
}

.Genres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Genres > * {
  margin: 20px;
  border-radius: 1vh;
  padding: 10px;
  color: #fff;
  background-color: #373737;
}

.selectedGenres {
  margin-top: 1vh;
  font-size: calc(2px + 2vmin);
}

.genreButton:active {
  color: #ff0000;
}

.selected {
  color: #ff0000;
  font-size: calc(6px + 2vmin);
}

.showType {
  font-size: calc(6px + 2vmin);
}

/* Styles used for the Movies and TVSeries pages */

.pagination {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  margin-right: 2vw;
  margin-top: 2vh;
}

.pagination > input {
  max-width: 5vw;
}

.movie {
  display: flex;
  padding: 6vh;
  padding-left: 5vw;
  padding-right: 5vw;
  color:#fff;
  text-align: left;
  border-bottom: 1px solid black;
}

.movieContent {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: flex-start;
  align-items: initial;
  min-width: 65vw;
}

.movieContent > * {
  margin-bottom: 1vh;
}

.image {
  height: 50vh;
  min-width: 20vw;
  margin-right: 5vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
