.App {
  text-align: center;
  background-color: #212121;
  height: auto;
  padding-bottom: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #181818;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-pages {
  color: #ff0000;
  display: flex;
}

.App-pages > * {
  margin-right: 2vw;
  color: #ff0000;
}

.App-image {
  color: #ff0000;
}

.image {
  width: 30vw;
  height: 50vh;
}


.App-generator {
  color: #61dafb;
  background-color: #181818;
  border-radius: 1vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 8vh;
  margin-bottom: 8vh;
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  justify-content: center;
}

.App-genres {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  border-radius: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #181818;
  color: #61dafb;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.App-genres > * {
  margin-top: 3vh;
}

.Genres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Genres > * {
  margin: 20px;
  border-radius: 1vh;
  padding: 10px;
  color: #fff;
  background-color: #373737;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
